# {{ ansible_managed }}

{% if ansible_architecture == "armv7l" %}
JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-armhf
{% endif %}
{% if ansible_architecture == "x86_64" %}
JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64
{% endif %}
NEO4J_CONF={{ base_directory }}/neo4j/config
